.modal-body {
    padding: 20px;
    text-align: center;
    // background-color: #151140;
    background-image: linear-gradient(90deg,#f16100,#c75000);

    .body-title {
        color: white;
        font-family: broadway;
        font-size: 30px;
    }
}

.sucursales {
    margin-top: 20px;
}

.sucursal {
    text-align: left;
    color: white;
    margin-bottom: 20px;
    font-family: cubano;
}

.suc-loc, .suc-num {
    font-size: 14px;
}

::ng-deep .modal-content {
    // margin-top: 10vh;  
    background-color: transparent;  
}