<div class="modal-body">
    <div class="body-title" style="color: #f8d300;">SUCURSALES SAHARIS</div>
    <div class="sucursales">
        <div class="sucursal">
            <div class="suc-name">Plaza Contry</div>
            <div class="suc-loc"><i class="fas fa-map-marker-alt"></i> Calle Diana #711, Contry, 64859 Monterrey, N.L.</div>
            <div class="suc-num"><i class="fab fa-whatsapp"></i> 81 2023 6697</div>
        </div>
        <div class="sucursal">
            <div class="suc-name">Plaza Morelos</div>
            <div class="suc-loc"><i class="fas fa-map-marker-alt"></i> Emilio Carranza 923 Sur 64000 Monterrey, N.L.</div>
            <div class="suc-num"><i class="fab fa-whatsapp"></i> 81 1779 5081</div>
        </div>
        <div class="sucursal">
            <div class="suc-name">Backstage</div>
            <div class="suc-loc"><i class="fas fa-map-marker-alt"></i> Dr. José Eleuterio González (Gonzalitos) 456 Sur, San Jerónimo, 64640 Monterrey, N.L.</div>
            <div class="suc-num"><i class="fab fa-whatsapp"></i> 81 8333 9400</div>
        </div>
        <div class="sucursal">
            <div class="suc-name">Plaza Fiesta San Agustín</div>
            <div class="suc-loc"><i class="fas fa-map-marker-alt"></i> Av. Lázaro Cárdenas #222 Col. Residencial San Agustín San Pedro Garza García, N.L.</div>
            <div class="suc-num"><i class="fab fa-whatsapp"></i> 81 8363 5410</div>
        </div>
    </div>
</div>