<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body-wrapper">

    <div class="container-html">

        <div class="container-menu">

            <div id="mov">

              <div id="myNav" class="overlay">
                <div class="mov-links">
                  <div class="mov-item"><a routerLink="/">INICIO</a></div>
                  <div class="mov-item"><a routerLink="/lineup" style="color: #fed62a;">LINEUP</a></div>
                  <div class="mov-item"><a routerLink="/boletos">BOLETOS</a></div>
                  <!-- <div class="mov-item"><a routerLink="/tours">TOURS</a></div> -->
                  <div class="mov-item mov-list">
                    <div><a href="https://www.facebook.com/Power-Fest-104352912107801" class="facebook" title="Join us on Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                    <div><a href="https://www.instagram.com/thepowerfest/" class="insta" title="Join us on Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                    <div><a href="https://twitter.com/thepowerfestmx" class="tw" title="Join us on Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                    <div><a href="https://vm.tiktok.com/ZM8cfUpvQ/" class="tiktok" title="Join us on TikTok" target="_blank"><i class="fab fa-tiktok" aria-hidden="true"></i></a></div>
                    <div><a href="https://www.youtube.com/channel/UC4lE0AcZbyOSmNAx9rNMTjA" class="youtube" title="Join us on Youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></div>
                    <div><a href="https://open.spotify.com/user/31xx2uceqlwqs7vg3znifzt5h3si?si=010c31e11c2b4614" class="spotify" title="Join us on Spotify" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>

              <div class="menu-mov">
                <div class="mov-logo"><a routerLink="/"><img src="../../../assets/images/M.webp" alt="" width="50px" height="auto"></a></div>
                <div class="mov-open">
                  <div class="menu-wrapper">
                    <input (click)="openNav()" type="checkbox" id="check">
                    <div class="bun"><div class="burger"></div></div>
                  </div>
                </div>
              </div>

            </div>

            <div id="desk">
                <div class="menu-desk">
                  <div class="menu-desk-img">
                    <div><a routerLink="/"><img src="../../../assets/images/logo-machaca.webp" alt=""></a></div>
                  </div>
                  <div class="menu-desk-items">
                    <div class="menu-desk-item"><a routerLink="/">INICIO</a></div>
                    <div class="menu-desk-item"><a routerLink="/lineup" style="color: #fed62a;">LINEUP</a></div>
                    <div class="menu-desk-item"><a routerLink="/boletos">TICKETS</a></div>
                    <!-- <div class="menu-desk-item"><a routerLink="/tours">TOURS</a></div> -->
                  </div>
                  <div class="menu-desk-tickets">
                    <div><a href="https://eventos.hot-ticket.net" target="_blank" rel="noopener noreferrer"><span>BOLETOS</span></a></div>
                  </div>
                </div>
            </div>

        </div>

        <div class="container-body" id="contentId">
          <div class="goBack"><a routerLink="/"><i class="far fa-arrow-alt-circle-left"></i> REGRESAR</a></div>
          <div class="body-title">LINEUP</div>
          
          <div class="container-lineup">

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/slipknot.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">SLIPKNOT</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/6wqJeItl3Vc3az4ZicSQAB" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/ozuna.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">OZUNA</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/5y7DaS3jAc9eZzcSOoUIwU" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/paurubio.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">PAULINA RUBIO</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/7lnun6viJADQCvZnE0w9q8" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/nickyjam.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">NICKY JAM</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/03LfOYi0icz4souspZVVhq" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/cds.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 37px;">CARTEL DE SANTA</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/1qNUhmx3rGjiMRThz7Eruv" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/migos.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">MIGOS</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/6n4U3TlzUGhdSFbUUhTvLP" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/panteon.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 37px;">PANTEÓN ROCOCÓ</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/5bymCzswBkt0deeD1hlTIq" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/zurdok.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">ZURDOK</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/0QN72F39qCxtXJnyBGoUvy" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/aleks.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">ALEKS SYNTEK</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/0oXLSuno5adlHcPzlzs8l6" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/elgransilencio.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 36px;">EL GRAN SILENCIO</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/4pfMrRwgqGH8uRKEnRK3uB" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/reik.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">REIK</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/4yVO0wOhXsZC1RuPgHP524" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/belinda.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">BELINDA</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/5M6bJO7Cfl4lnPoAHG0EdD" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/dm.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 32px;">DIVISIÓN MINÚSCULA</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/3EYPZf5gtyU9suVqTWChzk" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/KK.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">KUMBIA KINGS</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/3avKbg8OWkwFhucGI7WE22" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/vilma.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 26px;">VILMA PALMA E VAMPIROS</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/1x6bkwDyWIOZNFY5blRSs1" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/nortec.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 23px;">NORTEC BOSTICH + FUSSIBLE</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/7HW7q9Vcgr3GlUV7PKHKOj" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/genitallica.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">GENITALLICA</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/540gArXyIoMlg1FNpwSn8c" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/millonario.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">MILLONARIO</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/15yuvKhcoEtV5KwKxqHSwa" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/reyno.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">REYNO</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/3G9SwzJFPgFY7aDrD6KIPB" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/bandalos.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 36px;">BANDALOS CHINOS</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/6KVK1XO1Xzy7KGfoOockqA" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/lasso.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">LASSO</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/619zlIsV7csW2h2narAoPC" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/adan.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 34px;">ADAN JODOROWSKY</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/0L7UzdYmOkLhHoDLEcUa8f" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/akil.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">AKIL AMMAR</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/03TF8mEvi22ZyKyGz5AyOe" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/tourista.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">TOURISTA</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/4ZCRkqTO36YSyMEjQukC9s" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/luisa.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">LUISA VOX</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/4V3vLmzWXWs3OANXMV5sY0" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/pam.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 31px;">PEOPLE AS MACHINES</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/3IrWwUXRBjCqMHFPiRnAht" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/samsan.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name" style="font-size: 32px;">SAMANTHA SÁNCHEZ</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/46lrIMeedN60uf6gmPmLu1" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/mm.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">MAKING MOVIES</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/3USQhrAZXtF69SsUKnB7IJ" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/plano.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">PLANO</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/3InCw7kE6CUdDIDjJhjLFB" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/fran.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">FRAN</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/2TA3fiM7ZQc0HWo1ncG02e" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup-item">
              <div class="lineup-img"><img src="../../../assets/artist/polaris.png" alt=""></div>
                <div class="lineup-txt">
                    <div class="txt-center" style="width: 90%;">
                        <div class="lineup-name">POLARIS</div>
                        <div class="lineup-socials">
                            <iframe src="https://open.spotify.com/embed/track/63GJDO5mxiFP1ZQEpdUWRd" width="260" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

          </div>

          <div class="body-btn"><a href="assets\images\cartel.jpg" download="cartel.jpg">DESCARGAR LINEUP</a></div>

        </div>

        <div class="container-footer" id="footerId">
          <div class="socials">
            <div id="social-test">
              <ul class="social">
                <li><a href="https://www.facebook.com/MachacaFestival/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="MachacaFestival" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/MachacaFestival/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <div id="mov"><br class="br-mov"></div>
                <li><a href="https://www.tiktok.com/@machacafestival" target="_blank" rel="noopener noreferrer"><i class="fab fa-tiktok" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/user/MachacaFestTV" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="https://open.spotify.com/user/machaca2016?si=eceba6a5f58940e4" target="_blank" rel="noopener noreferrer"><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="footer-img"><img src="../../../assets/images/pt-logo.webp" alt=""></div>
        </div>
    
    </div>

</div>

<div class="background-container">
<div class="stars"></div>
<div class="twinkling"></div>
<!-- <div class="clouds"></div> -->
