<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body-wrapper">

    <div class="container-html">

        <div class="container-menu">

            <div id="mov">

              <div id="myNav" class="overlay">
                <div class="mov-links">
                  <div class="mov-item"><a routerLink="/" style="color: #fed62a;">INICIO</a></div>
                  <div class="mov-item"><a routerLink="/lineup">LINEUP</a></div>
                  <div class="mov-item"><a routerLink="/boletos">BOLETOS</a></div>
                  <!-- <div class="mov-item"><a routerLink="/tours">TOURS</a></div> -->
                  <div class="mov-item mov-list">
                    <div><a href="https://www.facebook.com/Power-Fest-104352912107801" class="facebook" title="Join us on Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                    <div><a href="https://www.instagram.com/thepowerfest/" class="insta" title="Join us on Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                    <div><a href="https://twitter.com/thepowerfestmx" class="tw" title="Join us on Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                    <div><a href="https://vm.tiktok.com/ZM8cfUpvQ/" class="tiktok" title="Join us on TikTok" target="_blank"><i class="fab fa-tiktok" aria-hidden="true"></i></a></div>
                    <div><a href="https://www.youtube.com/channel/UC4lE0AcZbyOSmNAx9rNMTjA" class="youtube" title="Join us on Youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></div>
                    <div><a href="https://open.spotify.com/user/31xx2uceqlwqs7vg3znifzt5h3si?si=010c31e11c2b4614" class="spotify" title="Join us on Spotify" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>

              <div class="menu-mov">
                <div class="mov-logo"><a routerLink="/"><img src="../../../assets/images/M.webp" alt="" width="50px" height="auto"></a></div>
                <div class="mov-open">
                  <div class="menu-wrapper">
                    <input (click)="openNav()" type="checkbox" id="check">
                    <div class="bun"><div class="burger"></div></div>
                  </div>
                </div>
              </div>

            </div>

            <div id="desk">
                <div class="menu-desk">
                  <div class="menu-desk-img">
                    <div><a routerLink="/"><img src="../../../assets/images/logo-machaca.webp" alt=""></a></div>
                  </div>
                  <div class="menu-desk-items">
                    <div class="menu-desk-item"><a routerLink="/" style="color: #fed62a;">INICIO</a></div>
                    <div class="menu-desk-item"><a routerLink="/lineup">LINEUP</a></div>
                    <div class="menu-desk-item"><a routerLink="/boletos">TICKETS</a></div>
                    <!-- <div class="menu-desk-item"><a routerLink="/tours">TOURS</a></div> -->
                  </div>
                  <div class="menu-desk-tickets">
                    <div><a href="https://eventos.hot-ticket.net" target="_blank" rel="noopener noreferrer"><span>BOLETOS</span></a></div>
                  </div>
                </div>
            </div>

        </div>

        <div class="container-body" id="contentId">
          
          <div class="body-logo">
            <div class="logo-top"><img src="../../../assets/images/logo-machaca.webp" alt=""></div>
            <div class="logo-bot"><img src="../../../assets/images/relampagos.webp" alt=""></div>
          </div>

          <div class="logo-txt"><div>25 DE JUNIO 2022</div><div>PARQUE FUNDIDORA</div></div>

            <div class="container">
              <input type="radio" name="slider" id="item-1" checked>
              <input type="radio" name="slider" id="item-2">
              <input type="radio" name="slider" id="item-3">
              <div class="cards">
                <label class="card" for="item-1" id="song-1">
                  <img src="https://images.unsplash.com/photo-1530651788726-1dbf58eeef1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80" alt="song">
                  <div class="card-btn"><a routerLink="/lineup">LINEUP</a></div>
                </label>
                <label class="card" for="item-2" id="song-2">
                  <img src="https://images.unsplash.com/photo-1559386484-97dfc0e15539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80" alt="song">
                  <div class="card-btn"><a routerLink="/boletos">BOLETOS</a></div>
                </label>
                <label class="card" for="item-3" id="song-3">
                  <img src="https://images.unsplash.com/photo-1533461502717-83546f485d24?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="song">
                  <div class="card-btn"><a routerLink="">TOURS</a></div>
                </label>
              </div>
              <div class="player">
                <div class="player-cuadros">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="upper-part">
                  <div class="info-area" id="test">
                    <label class="song-info" id="song-info-1">
                      <div class="title"><div for="item1" id="tc1" class="title-cuadro" (click)="menu1()"></div></div>
                    </label>
                    <label class="song-info" id="song-info-2">
                      <div class="title"><div for="item2" id="tc2" class="title-cuadro" (click)="menu2()"></div></div>
                    </label>
                    <label class="song-info" id="song-info-3">
                      <div class="title"><div for="item3" id="tc3" class="title-cuadro" (click)="menu3()"></div></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>

          <div class="newsletter">

            <div class="mail-logo"><i class="far fa-envelope"></i></div>
            <div class="news-title">ÚNETE A NUESTRO NEWSLETTER</div>
    
            <form class="form-size" #subscribeForm='ngForm' (ngSubmit)='subscribe(subscribeForm)'>
                <div class="md-form">
    
                    <div class="text-inputs">
                        <h5 class="text-size-inputs">Nombre</h5>
                    </div>
                    <div class="form-inputs">
                        <input mdbInput type="text" class="form-control" required #firstName='ngModel' name='firstName'
                            [(ngModel)]='subscribeData.firstName'>
                    </div>
    
                    <div class="text-inputs">
                        <h5 class="text-size-inputs">Correo</h5>
                    </div>
                    <div class="form-inputs">
                        <input pattern="\S+@\S+\.\S+" mdbInput type="email" class="form-control" required
                            #email='ngModel' name='userName' [(ngModel)]='subscribeData.email'>
                    </div>
    
                    <div class="button">
                        <button mdbBtn type='submit'>Suscribir</button>
                    </div>
    
                </div>
            </form>

          </div>

        </div>

        <div class="container-footer" id="footerId">
          <div class="socials">
            <div id="social-test">
              <ul class="social">
                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <div id="mov"><br class="br-mov"></div>
                <li><i class="fab fa-tiktok" aria-hidden="true"></i></li>
                <li><i class="fa fa-youtube" aria-hidden="true"></i></li>
                <li><i class="fa fa-spotify" aria-hidden="true"></i></li>
              </ul>
            </div>
          </div>
          <div class="footer-img"><img src="../../../assets/images/pt-logo.webp" alt=""></div>
        </div>
    
    </div>

</div>

<div class="background-container">
<div class="stars"></div>
<div class="twinkling"></div>
<!-- <div class="clouds"></div> -->