<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body-wrapper">

    <div class="container-html">

        <div class="container-menu">

            <div id="mov">

              <div id="myNav" class="overlay">
                <div class="mov-links">
                  <div class="mov-item"><a routerLink="/">INICIO</a></div>
                  <div class="mov-item"><a routerLink="/lineup">LINEUP</a></div>
                  <div class="mov-item"><a routerLink="/boletos" style="color: #fed62a;">BOLETOS</a></div>
                  <!-- <div class="mov-item"><a routerLink="/tours">TOURS</a></div> -->
                  <div class="mov-item mov-list">
                    <div><a href="https://www.facebook.com/Power-Fest-104352912107801" class="facebook" title="Join us on Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                    <div><a href="https://www.instagram.com/thepowerfest/" class="insta" title="Join us on Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                    <div><a href="https://twitter.com/thepowerfestmx" class="tw" title="Join us on Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                    <div><a href="https://vm.tiktok.com/ZM8cfUpvQ/" class="tiktok" title="Join us on TikTok" target="_blank"><i class="fab fa-tiktok" aria-hidden="true"></i></a></div>
                    <div><a href="https://www.youtube.com/channel/UC4lE0AcZbyOSmNAx9rNMTjA" class="youtube" title="Join us on Youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></div>
                    <div><a href="https://open.spotify.com/user/31xx2uceqlwqs7vg3znifzt5h3si?si=010c31e11c2b4614" class="spotify" title="Join us on Spotify" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>

              <div class="menu-mov">
                <div class="mov-logo"><a routerLink="/"><img src="../../../assets/images/M.webp" alt="" width="50px" height="auto"></a></div>
                <div class="mov-open">
                  <div class="menu-wrapper">
                    <input (click)="openNav()" type="checkbox" id="check">
                    <div class="bun"><div class="burger"></div></div>
                  </div>
                </div>
              </div>

            </div>

            <div id="desk">
                <div class="menu-desk">
                  <div class="menu-desk-img">
                    <div><a routerLink="/"><img src="../../../assets/images/logo-machaca.webp" alt=""></a></div>
                  </div>
                  <div class="menu-desk-items">
                    <div class="menu-desk-item"><a routerLink="/">INICIO</a></div>
                    <div class="menu-desk-item"><a routerLink="/lineup">LINEUP</a></div>
                    <div class="menu-desk-item"><a routerLink="/boletos" style="color: #fed62a;">BOLETOS</a></div>
                    <!-- <div class="menu-desk-item"><a routerLink="/tours">TOURS</a></div> -->
                  </div>
                  <div class="menu-desk-tickets">
                    <div><a href="https://eventos.hot-ticket.net" target="_blank" rel="noopener noreferrer"><span>BOLETOS</span></a></div>
                  </div>
                </div>
            </div>

        </div>

        <div class="container-body" id="contentId">
          <div class="goBack"><a routerLink="/"><i class="far fa-arrow-alt-circle-left"></i> REGRESAR</a></div>
          <div class="body-title">BOLETOS</div>

          <div class="container-boletos">
            <div class="boletos-item">
              <div class="boletos-title">GENERAL - FASE 3</div>
              <div class="boletos-precio">$1,650</div>
              <div class="boletos-precio" style="font-size: 10px;">+ cargos por servicio</div>
              <div class="beneficios-title">BENEFICIOS</div>
              <div class="beneficios">
                <div class="beneficios-item">- 31 ARTISTAS</div>
                <div class="beneficios-item">- 4 ESCENARIOS</div>
                <div class="beneficios-item">- ACCESO A TODAS LAS ZONAS GENERALES DEL FESTIVAL</div>
                <div class="beneficios-item">- ACTIVACIONES DE PATROCINADORES</div>
                <div class="beneficios-item">- VENTA DE BEBIDAS Y ALIMENTOS</div>
                <div class="beneficios-item" style="font-size: 12px;">*VENTA DE ALCOHOL A MAYORES DE EDAD</div>
              </div>
              <div class="boletos-btn"> 
                <a href="">COMPRAR BOLETOS</a>
              </div>
            </div>
            <div class="boletos-item">
              <div class="boletos-title">PREMIUM</div>
              <div class="boletos-precio">$2,250</div>
              <div class="boletos-precio" style="font-size: 10px;">+ cargos por servicio</div>
              <div class="beneficios-title">BENEFICIOS</div>
              <div class="beneficios">
                <div class="beneficios-item">- TODOS LOS BENEFICIOS DE GENERAL</div>
                <div class="beneficios-item">- BAÑOS PREMIUM CON AIRE ACONDICIONADO</div>
                <div class="beneficios-item">- FAST LANE PARA ACCESO AL FESTIVAL</div>
                <div class="beneficios-item">- ACCESO A ZONA EXCLUSIVA PREMIUM*</div>
                <div class="beneficios-item">- ÁREA DE DESCANSO</div>
                <div class="beneficios-item">- PANTALLAS DE CIRCUITO CERRADO</div>
                <div class="beneficios-item">- BARRA ESPECIALIZADA CON BEBIDAS NACIONALES E INTERNACIONALES</div>
                <div class="beneficios-item">- MIXOLOGÍA</div>
                <div class="beneficios-item" style="font-size: 12px;">*ESTA ZONA NO TIENE VISTA A ESCENARIOS</div>
              </div>
              <div class="boletos-btn"> 
                <a href="">COMPRAR BOLETOS</a>
              </div>
            </div>
            <div class="boletos-item">
              <div class="boletos-title">VIP - FASE 3</div>
              <div class="boletos-precio">$3,350</div>
              <div class="boletos-precio" style="font-size: 10px;">+ cargos por servicio</div>
              <div class="beneficios-title">BENEFICIOS</div>
              <div class="beneficios">
                <div class="beneficios-item">- TODOS LOS BENEFICIOS DE GENERAL</div>
                <div class="beneficios-item">- BAÑOS PREMIUM CON AIRE ACONDICIONADO</div>
                <div class="beneficios-item">- FAST LANE PARA ACCESO AL FESTIVAL</div>
                <div class="beneficios-item">- PIT A ESCENARIOS</div>
                <div class="beneficios-item">- VISTA EXCLUSIVA A ESCENARIOS</div>
                <div class="beneficios-item">- ÁREA DE DESCANSO</div>
                <div class="beneficios-item">- BARRA ESPECIALIZADA CON BEBIDAS NACIONALES E INTERNACIONALES</div>
                <div class="beneficios-item">- MIXOLOGÍA</div>
                <div class="beneficios-item">- MESEROS</div>
                <div class="beneficios-item">- CARGADORES</div>
                <div class="beneficios-item">- ÁREA DE RESERVADOS</div>
                <div class="beneficios-item">- ÁREA VIP PLUS</div>
                <div class="beneficios-item" style="font-size: 12px;">*ESTA ZONA NO TIENE ACCESO A ZONA PREMIUM</div>
              </div>
              <div class="boletos-btn"> 
                <a href="">COMPRAR BOLETOS</a>
              </div>
            </div>
          </div>

        </div>

        <div class="container-footer" id="footerId">
          <div class="socials">
            <div id="social-test">
              <ul class="social">
                <li><a href="https://www.facebook.com/MachacaFestival/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="MachacaFestival" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/MachacaFestival/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <div id="mov"><br class="br-mov"></div>
                <li><a href="https://www.tiktok.com/@machacafestival" target="_blank" rel="noopener noreferrer"><i class="fab fa-tiktok" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/user/MachacaFestTV" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="https://open.spotify.com/user/machaca2016?si=eceba6a5f58940e4" target="_blank" rel="noopener noreferrer"><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="footer-img"><img src="../../../assets/images/pt-logo.webp" alt=""></div>
        </div>
    
    </div>

</div>

<div class="background-container">
<div class="stars"></div>
<div class="twinkling"></div>
<!-- <div class="clouds"></div> -->